html {
    font-size: 62.5%;
  }
  
  body {
    color: #333;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
  }